// Font Family
$roboto:'Roboto',
sans-serif;
$open:'Open Sans',
sans-serif;
// Colors ---------------
$black:#181818;
$black-washed:rgba(255, 255, 255, 0.102);
$white:#ffffff;
$green: #35A692;
$green-2: #49ae9c;
$green-3: rgba(73, 174, 156, 0.502);
$green-4:#1f6357;
$blue: #3158A7;
$blue-2:#5a79b8;
$blue-3:#6e8ac1;
$grey:#f7f7f7;
$grey-2:#f9f9f9;
$grey-3:rgba(255, 255, 255, 0.549);
$grey-4:#e6e7e4;
// Background Colors ---------------
$grey-bg:rgba(255, 255, 255, 0.55);
$grey-bg-2:#f3f3f3;
$grey-bg-3:#E6F0F2;
$grey-bg-4:#f6f6f6;
$green-bg:#35A692;
$blue-bg:#3158A7;
$black-light:rgba(0, 0, 0, 0.6);
$blue-dark:#073D50;
$footer-bg:#002345;
// Responsive Variables
$xxl: 'only screen and (min-width: 1400px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399.98px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$md:'only screen and (min-width: 768px) and (max-width: 991.98px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
$xs:'(max-width: 575.98px)';